# ===============================
# Python cache & compiled files
# ===============================
__pycache__/


# ===============================
# Virtual environments
# ===============================
venv/
env/
.venv/

# ===============================
# Environment variables
# ===============================
.env
.env.*

# ===============================
# ChromaDB / Vector DB storage
# ===============================
chroma_db/
*.sqlite
*.db

# ===============================
# Generated / runtime data
# ===============================
structured_output.json




# ===============================
# data file
# ===============================
data



